<div class="wrapper">
   <!-- Main Header -->
  <app-originator-header></app-originator-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-originator-left-side></app-originator-left-side>
  <!-- Content Wrapper. Contains page content -->
  <app-originator-content></app-originator-content>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <app-originator-footer></app-originator-footer>
  <!-- Control Sidebar -->
  <app-originator-control-sidebar></app-originator-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
