<div class="wrapper">
   <!-- Main Header -->
  <app-unit-head-header></app-unit-head-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-unit-head-left-side></app-unit-head-left-side>
  <!-- Content Wrapper. Contains page content -->
    <app-unit-head-content></app-unit-head-content>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <app-unit-head-footer></app-unit-head-footer>
  <!-- Control Sidebar -->
  <app-unit-head-control-sidebar></app-unit-head-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
